@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Urbanist:wght@400;700&family=Road+Rage&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneIcon:hover {
    fill: #00FF00;
}
.silverbg {
    background: linear-gradient(170deg, rgba(57, 59, 60, 1) 0%, rgba(38, 39, 40, 1) 3%, rgba(19, 19, 20, 1) 6%, rgba(19, 19, 20, 1) 10%, rgba(38, 39, 40, 1) 16%, rgba(57, 59, 60, 1) 25%, rgba(76, 78, 80, 1) 33%, rgba(95, 98, 100, 1) 40%, rgba(113, 117, 119, 1) 45%, rgba(132, 137, 139, 1) 53%, rgba(151, 156, 159, 1) 59%, rgba(170, 176, 179, 1) 66%, rgba(170, 176, 179, 1) 69%, rgba(151, 156, 159, 1) 73%, rgba(132, 137, 139, 1) 78%, rgba(113, 117, 119, 1) 82%, rgba(95, 98, 100, 1) 86%, rgba(76, 78, 80, 1) 90%, rgba(57, 59, 60, 1) 93%, rgba(38, 39, 40, 1) 96%, rgba(19, 19, 20, 1) 98%, rgba(0, 0, 0, 1) 100%);
}
  
.silverbg45 {
    background: linear-gradient(170deg, rgba(57, 59, 60, 1) 0%, rgba(38, 39, 40, 1) 3%, rgba(19, 19, 20, 1) 6%, rgba(19, 19, 20, 1) 10%, rgba(38, 39, 40, 1) 16%, rgba(57, 59, 60, 1) 25%, rgba(76, 78, 80, 1) 33%, rgba(95, 98, 100, 1) 40%, rgba(113, 117, 119, 1) 45%, rgba(132, 137, 139, 1) 53%, rgba(151, 156, 159, 1) 59%, rgba(170, 176, 179, 1) 66%, rgba(170, 176, 179, 1) 69%, rgba(151, 156, 159, 1) 73%, rgba(132, 137, 139, 1) 78%, rgba(113, 117, 119, 1) 82%, rgba(95, 98, 100, 1) 86%, rgba(76, 78, 80, 1) 90%, rgba(57, 59, 60, 1) 93%, rgba(38, 39, 40, 1) 96%, rgba(19, 19, 20, 1) 98%, rgba(0, 0, 0, 1) 100%);
}
  
.silverbg45:hover {
      background: linear-gradient(173deg, rgba(57, 59, 60, 1) 0%, rgba(38, 39, 40, 1) 3%, rgba(19, 19, 20, 1) 6%, rgba(19, 19, 20, 1) 10%, rgba(38, 39, 40, 1) 16%, rgba(57, 59, 60, 1) 25%, rgba(76, 78, 80, 1) 33%, rgba(95, 98, 100, 1) 40%, rgba(113, 117, 119, 1) 45%, rgba(132, 137, 139, 1) 53%, rgba(151, 156, 159, 1) 59%, rgba(170, 176, 179, 1) 66%, rgba(170, 176, 179, 1) 69%, rgba(151, 156, 159, 1) 73%, rgba(132, 137, 139, 1) 78%, rgba(113, 117, 119, 1) 82%, rgba(95, 98, 100, 1) 86%, rgba(76, 78, 80, 1) 90%, rgba(57, 59, 60, 1) 93%, rgba(38, 39, 40, 1) 96%, rgba(19, 19, 20, 1) 98%, rgba(0, 0, 0, 1) 100%);
}

.hexagon{
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.gallery{
    position:relative;
    width:300px;
    height:100px;
    transform-style:preserve-3d;
    animation:rotate 120s linear infinite;
  }
  
  @keyframes rotate{
    from{
      transform:perspective(1200px) rotateY(0deg);
    }
    
    to{
      transform:perspective(1200px) rotateY(-360deg);
    }
  }
  
  .gallery span{
    position:absolute;
    width:100%;
    height:50%;
    transform-origin:center;
    transform-style:preserve-3d;
    transform:rotateY(calc(var(--i) * 22.5deg)) translateZ(760px);
  }
  
  .gallery span img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
  }

  input[type="Radio"] {
    color: #0f0;
  }

  input[type=""] {
    font-family: Urbanist;
  }

  /* Hide focus outline on mouse click, but show it for keyboard navigation */
.focus-visible\:outline-none:focus:not(:focus-visible) {
  outline: none; /* Remove outline on mouse click */
}

.focus-visible\:outline-none:focus-visible {
  outline: 2px solid #00ff00 !important; /* Show custom focus outline for keyboard navigation */
}

/* Pseudo-element for the top and bottom outlines */
.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  left: -100%;
  width: 100%;
  height: 2px; /* Outline thickness */
  background-color: blue; /* Outline color */
  transition: all 0.3s ease-in-out;
}

/* Top outline */
.nav-link::before {
  top: 0;
}

/* Bottom outline */
.nav-link::after {
  bottom: 0;
}

/* Show the outlines smoothly from left to right on hover */
.nav-link:hover::before,
.nav-link:hover::after {
  left: 0;
}

/* Styles for blog content */
.markdown-content {
  line-height: 1.8; /* Increase line height for better readability */
}

.markdown-content p {
  font-size: 1.125rem; /* Increase font size to make paragraphs larger */
  letter-spacing: 0.05em; /* Add letter spacing */
  margin-bottom: 1.5rem; /* Add space below paragraphs */
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.markdown-content img {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: auto;
}

.markdown-content a {
  color: #00ff00; /* Customize link colors */
  text-decoration: underline;
}

.markdown-content ul,
.markdown-content ol {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
